In [2]:
import pandas as pd

In [3]:
#path_accept='accepted_2007_to_2018Q4.csv'
path_accept='accepted_2007_to_2018Q4_head.csv'
#path_reject='rejected_2007_to_2018Q4.csv'

In [4]:
df_accept=pd.read_csv(path_accept)#.head(100000)
#df_reject=pd.read_csv(path_reject)

/tmp/ipython-input-3558952923.py:1: DtypeWarning: Columns (0,19,59,118) have mixed types. Specify dtype option on import or set low_memory=False.
  df_accept=pd.read_csv(path_accept)#.head(100000)

In [5]:
df_accept

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,127604208,NaN,9000.0,9000.0,9000.0,36 months,5.32,271.04,A,A1,...,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
499996,127599647,NaN,5000.0,5000.0,5000.0,36 months,5.32,150.58,A,A1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
499997,127590462,NaN,40000.0,40000.0,40000.0,60 months,14.08,932.39,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
499998,127595852,NaN,30000.0,30000.0,29975.0,36 months,7.97,939.68,A,A5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
499999,127553026,NaN,16000.0,16000.0,16000.0,36 months,16.02,562.68,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_accept.shape

(500000, 151)

**Data Cleaning**

In [6]:
df_accept.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=151)

In [23]:
df_accept_suf['earliest_cr_line']

pandas.core.series.Series

In [29]:
set(df_accept_suf['last_pymnt_d'])

{'15-Apr',
 '15-Aug',
 '15-Dec',
 '15-Feb',
 '15-Jan',
 '15-Jul',
 '15-Jun',
 '15-Mar',
 '15-May',
 '15-Nov',
 '15-Oct',
 '15-Sep',
 '16-Apr',
 '16-Aug',
 '16-Dec',
 '16-Feb',
 '16-Jan',
 '16-Jul',
 '16-Jun',
 '16-Mar',
 '16-May',
 '16-Nov',
 '16-Oct',
 '16-Sep',
 '17-Apr',
 '17-Aug',
 '17-Dec',
 '17-Feb',
 '17-Jan',
 '17-Jul',
 '17-Jun',
 '17-Mar',
 '17-May',
 '17-Nov',
 '17-Oct',
 '17-Sep',
 '18-Apr',
 '18-Aug',
 '18-Dec',
 '18-Feb',
 '18-Jan',
 '18-Jul',
 '18-Jun',
 '18-Mar',
 '18-May',
 '18-Nov',
 '18-Oct',
 '18-Sep',
 '19-Feb',
 '19-Jan',
 '19-Mar',
 nan}

In [10]:
df_accept.loc[df_accept['loan_amnt'].isna(),:]

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
421095,Total amount funded in policy code 1: 6417608175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421096,Total amount funded in policy code 2: 1944088810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
set(df_accept_suf['disbursement_method'])

{'Cash', 'DirectPay'}

In [7]:
cols_sufficient_vals=[df_accept[c].isna().sum()/df_accept.shape[0]<0.5 for c in df_accept.columns]
cols_sufficient_vals
df_accept_suf=df_accept.loc[df_accept['loan_amnt'].notna(),cols_sufficient_vals]
df_accept_suf

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,68407277,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,leadman,...,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0,N,Cash,N
1,68355089,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,Engineer,...,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0,N,Cash,N
2,68341763,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,truck driver,...,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0,N,Cash,N
3,66310712,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,Information Systems Officer,...,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0,N,Cash,N
4,68476807,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,...,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0,N,Cash,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,127604208,9000.0,9000.0,9000.0,36 months,5.32,271.04,A,A1,Bartender,...,0.0,0.0,0.0,82300.0,17594.0,56500.0,0.0,N,DirectPay,N
499996,127599647,5000.0,5000.0,5000.0,36 months,5.32,150.58,A,A1,Executive Administrator,...,0.0,0.0,0.0,239194.0,14953.0,64800.0,24094.0,N,Cash,N
499997,127590462,40000.0,40000.0,40000.0,60 months,14.08,932.39,C,C3,Law Firm Manager,...,0.0,0.0,0.0,85048.0,42243.0,12700.0,61000.0,N,Cash,N
499998,127595852,30000.0,30000.0,29975.0,36 months,7.97,939.68,A,A5,Maintenance Supervisor,...,28.6,0.0,0.0,284170.0,81648.0,53600.0,82345.0,N,Cash,N
499999,127553026,16000.0,16000.0,16000.0,36 months,16.02,562.68,C,C5,Assistant,...,100.0,0.0,0.0,10500.0,5242.0,5100.0,0.0,N,Cash,N

In [8]:
#Columns remaining with missing values
 [c for c in df_accept_suf.columns if df_accept_suf[c].isna().sum()/df_accept_suf.shape[0]>0]

['emp_title',
 'emp_length',
 'title',
 'dti',
 'mths_since_last_delinq',
 'revol_util',
 'last_pymnt_d',
 'last_credit_pull_d',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'mo_sin_old_il_acct',
 'mths_since_recent_bc',
 'mths_since_recent_inq',
 'num_rev_accts',
 'num_tl_120dpd_2m',
 'percent_bc_gt_75']

In [11]:
pd.set_option('display.max_rows', False)
pd.set_option('display.max_columns', None)
#df_accept

In [ ]:
#term
#set(df_accept['term'])
term_int=[int(t[1:3]) for t in df_accept['term']]
df_accept['term_int']=term_int
df_accept['term_int']

0        36
1        36
2        60
3        60
4        60
5        36
6        36
7        36
8        36
9        36
10       60
11       60
         ..
76621    36
76622    60
76623    60
76624    36
76625    36
76626    36
76627    36
76628    36
76629    60
76630    60
76631    60
76632    60
Name: term_int, Length: 76633, dtype: int64

In [ ]:
#print([not x for x in df_reject['Debt-To-Income Ratio'].isna()])

In [ ]:
#data exploration
#see if absent values imply something
#exclude
#dti_joint

print(df_accept['dti'].isna().sum()/df_accept.shape[0])
#print(sorted(set(df_accept.loc[[not x for x in df_accept['dti_joint'].isna()],'dti_joint'])))

dti=set(df_reject.loc[[not x for x in df_reject['Debt-To-Income Ratio'].isna()],'Debt-To-Income Ratio'])
#print(sorted([float(x.strip('%'))/100 for x in dti]))

2.6098417131001005e-05

In [ ]:
#analysis on data columns (how features are correlated)
#identify data type of each column
#3 classes

amount_request <--> Amount Requested

? <--> Application Date

title <--> Loan Title

<--> Risk_Score

dti_joint (referring to couple, most values missing, how to interpret ?)<--> Debt-To-Income Ratio

zip_code <--> Zip Code

addr_state <--> State

emp_length <--> Employment Length

policy_code <--> Policy Code

Target: loan_status

columns with missing values:

mths_since_last_delinq - set missing values as arbitrarily high values?
#

emp_title

emp_length

title

dti

mths_since_last_delinq

revol_util

last_pymnt_d

last_credit_pull_d

avg_cur_bal

bc_open_to_buy

bc_util

mo_sin_old_il_acct

mths_since_recent_bc

mths_since_recent_inq

num_rev_accts

num_tl_120dpd_2m

percent_bc_gt_75

#Fields to be cleaned
zip_code

dates:
df_accept_suf['earliest_cr_line'].astype('datetime64[ns]')

issue_d

earliest_cr_line

last_credit_pull_d



#Conclusions:
- some rows are missing, need to be deleted
- around 20 fields with missing values after deleting missing rows
- formats of date fields inconsistent