In [4]:
import pandas as pd

In [5]:
path_accept='accepted_2007_to_2018Q4.csv'
path_reject='rejected_2007_to_2018Q4.csv'

In [6]:
df_accept=pd.read_csv(path_accept)
df_reject=pd.read_csv(path_reject)
df_reject

/tmp/ipython-input-2738080321.py:1: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  df_accept=pd.read_csv(path_accept)

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0
...,...,...,...,...,...,...,...,...,...
877562,5000.0,2016-04-11,debt_consolidation,NaN,10.87%,496xx,MI,< 1 year,0.0
877563,4000.0,2016-04-11,debt_consolidation,NaN,18.54%,112xx,NY,< 1 year,0.0
877564,12000.0,2016-04-11,debt_consolidation,600.0,13.11%,430xx,OH,< 1 year,0.0
877565,35000.0,2016-04-11,debt_consolidation,NaN,9999%,451xx,OH,< 1 year,0.0
877566,10000.0,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_accept.shape

(217945, 151)

In [5]:
df_reject.shape

(2552326, 9)

In [62]:
pd.set_option('display.max_rows', False)
pd.set_option('display.max_columns', None)
df_accept

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,term_int
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,190xx,PA,5.91,0.0,Aug-2003,675.0,679.0,1.0,30.0,NaN,7.0,0.0,2765.0,29.7,13.0,w,0.00,0.00,4421.723917,4421.72,3600.00,821.72,0.0,0.00,0.0000,Jan-2019,122.67,NaN,Mar-2019,564.0,560.0,0.0,30.0,1.0,Individual,NaN,NaN,NaN,0.0,722.0,144904.0,2.0,2.0,0.0,1.0,21.0,4981.0,36.0,3.0,3.0,722.0,34.0,9300.0,3.0,1.0,4.0,4.0,20701.0,1506.0,37.2,0.0,0.0,148.0,128.0,3.0,3.0,1.0,4.0,69.0,4.0,69.0,2.0,2.0,4.0,2.0,5.0,3.0,4.0,9.0,4.0,7.0,0.0,0.0,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,36
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,Business,577xx,SD,16.06,1.0,Dec-1999,715.0,719.0,4.0,6.0,NaN,22.0,0.0,21470.0,19.2,38.0,w,0.00,0.00,25679.660000,25679.66,24700.00,979.66,0.0,0.00,0.0000,Jun-2016,926.35,NaN,Mar-2019,699.0,695.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,204396.0,1.0,1.0,0.0,1.0,19.0,18005.0,73.0,2.0,3.0,6472.0,29.0,111800.0,0.0,0.0,6.0,4.0,9733.0,57830.0,27.1,0.0,0.0,113.0,192.0,2.0,2.0,4.0,2.0,NaN,0.0,6.0,0.0,5.0,5.0,13.0,17.0,6.0,20.0,27.0,5.0,22.0,0.0,0.0,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,36
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,home_improvement,NaN,605xx,IL,10.78,0.0,Aug-2000,695.0,699.0,0.0,NaN,NaN,6.0,0.0,7869.0,56.2,18.0,w,0.00,0.00,22705.924294,22705.92,20000.00,2705.92,0.0,0.00,0.0000,Jun-2017,15813.30,NaN,Mar-2019,704.0,700.0,0.0,NaN,1.0,Joint App,71000.0,13.85,Not Verified,0.0,0.0,189699.0,0.0,1.0,0.0,4.0,19.0,10827.0,73.0,0.0,2.0,2081.0,65.0,14000.0,2.0,5.0,1.0,6.0,31617.0,2737.0,55.9,0.0,0.0,125.0,184.0,14.0,14.0,5.0,101.0,NaN,10.0,NaN,0.0,2.0,3.0,2.0,4.0,6.0,4.0,7.0,3.0,6.0,0.0,0.0,0.0,0.0,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,60
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.0,Source Verified,Dec-2015,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,076xx,NJ,17.06,0.0,Sep-2008,785.0,789.0,0.0,NaN,NaN,13.0,0.0,7802.0,11.6,17.0,w,15897.65,15897.65,31464.010000,31464.01,19102.35,12361.66,0.0,0.00,0.0000,Feb-2019,829.90,Apr-2019,Mar-2019,679.0,675.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,301500.0,1.0,1.0,0.0,1.0,23.0,12609.0,70.0,1.0,1.0,6987.0,45.0,67300.0,0.0,1.0,0.0,2.0,23192.0,54962.0,12.1,0.0,0.0,36.0,87.0,2.0,2.0,1.0,2.0,NaN,NaN,NaN,0.0,4.0,5.0,8.0,10.0,2.0,10.0,13.0,5.0,13.0,0.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,60
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.0,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,major_purchase,Major purchase,174xx,PA,25.37,1.0,Jun-1998,695.0,699.0,3.0,12.0,NaN,12.0,0.0,21929.0,64.5,35.0,w,0.00,0.00,11740.500000,11740.50,10400.00,1340.50,0.0,0.00,0.0000,Jul-2016,10128.96,NaN,Mar-2018,704.0,700.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,331730.0,1.0,3.0,0.0,3.0,14.0,73839.0,84.0,4.0,7.0,9702.0,78.0,34000.0,2.0,1.0,3.0,10.0,27644.0,4567.0,77.5,0.0,0.0,128.0,210.0,4.0,4.0,6.0,4.0,12.0,1.0,12.0,0.0,4.0,6.0,5.0,9.0,10.0,7.0,19.0,6.0,12.0,0.0,0.0,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,60
5,68426831,NaN,11950.0,11950.0,11950.0,36 months,13.44,405.18,C,C3,Veterinary Tecnician,4 years,RENT,34000.0,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,300xx,GA,10.20,0.0,Oct-1987,690.0,694.0,0.0,NaN,NaN,5.0,0.0,8822.0,68.4,6.0,w,0.00,0.00,13708.948530,13708.95,11950.00,1758.95,0.0,0.00,0.0000,May-2017,7653.56,NaN,May-2017,759.0,755.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,12798.0,0.0,1.0,0.0,0.0,338.0,3976.0,99.0,0.0,0.0,4522.0,76.0,12900.0,0.0,0.0,0.0,0.0,2560.0,844.0,91.0,0.0,0.0,338.0,54.0,32.0,32.0,0.0,36.0,NaN,NaN,NaN,0.0,2.0,3.0,2.0,2.0,2.0,4.0,4.0,3.0,5.0,0.0,0.0,0.0,0.0,100.0,100.0,0.0,0.0,16900.0,12798.0,9400.0,4000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,36
6,68476668,NaN,20000.0,20000.0,20000.0,36 months,9.17,637.58,B,B2,Vice President of Recruiting Operations,10+ years,MORTGAGE,180000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,550xx,MN,14.67,0.0,Jun-1990,680.0,684.0,0.0,49.0,NaN,12.0,0.0,87329.0,84.5,27.0,f,0.00,0.00,21393.800000,21393.80,20000.00,1393.80,0.0,0.00,0.0000,Nov-2016,15681.05,NaN,Mar-2019,654.0,650.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,360358.0,0.0,2.0,0.0,2.0,18.0,29433.0,63.0,2.0,3.0,13048.0,74.0,94200.0,1.0,0.0,1.0,6.0,30030.0,0.0,102.9,0.0,0.0,142.0,306.0,10.0,10.0,4.0,12.0,NaN,10.0,NaN,0.0,4.0,6.0,4.0,5.0,7.0,9.0,16.0,6.0,12.0,0.0,0.0,0.0,2.0,96.3,100.0,0.0,0.0,388852.0,116762.0,31500.0,46452.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,36
7,67275481,NaN,20000.0,20000.0,20000.0,36 months,8.49,631.26,B,B1,road driver,10+ years,MORTGAGE,85000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,major_purchase,Major purchase,293xx,SC,17.61,1.0,Feb-1999,705.0,709.0,0.0,3.0,NaN,8.0,0.0,826.0,5.7,15.0,w,0.00,0.00,21538.508977,21538.51,20000.00,1538.51,0.0,0.00,0.0000,Jan-2017,14618.23,NaN,Mar-2019,674.0,670.0,0.0,3.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,141601.0,0.0,3.0,0.0,4.0,13.0,27111.0,75.0,0.0,0.0,640.0,55.0,14500.0,1.0,0.0,2.0,4.0,17700.0,13674.0,5.7,0.0,0.0,149.0,55.0,32.0,13.0,3.0,32.0,NaN,8.0,NaN,1.0,2.0,2.0,3.0,3.0,9.0,3.0,3.0,2.0,8.0,0.0,0.0,1.0,0.0,93.3,0.0,0.0,0.0,193390.0,27937.0,14500.0,36144.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,36
8,68466926,NaN,10000.0,10000.0,10000.0,36 months,6.49,306.45,A,A2,SERVICE MANAGER,6 years,RENT,85000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,credit_card,Credit card refinancing,160xx,PA,13.07,0.0,Apr-2002,685.0,689.0,1.0,NaN,106.0,14.0,1.0,10464.0,34.5,23.0,w,0.00,0.00,10998.971575,10998.97,10000.00,998.97,0.0,0.00,0.0000,Aug-2018,1814.48,NaN,Mar-2019,719.0,715.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,8341.0,27957.0,2.0,1.0,0.0,0.0,35.0,17493.0,57.0,2.0,7.0,2524.0,46.0,30300.0,2.0,0.0,1.0,7.0,1997.0,8182.0,50.1,0.0,0.0,164.0,129.0,1.0,1.0,1.0,4.0,NaN,1.0,NaN,0.0,6.0,9.0,7.0,10.0,3.0,13.0,19.0,9.0,14.0,0.0,0.0,0.0,2.0,95.7,28.6,1.0,0.0,61099.0,27957.0,16400.0,30799.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76624,64017790,NaN,35000.0,35000.0,35000.0,36 months,9.17,1115.77,B,B2,Partner,7 years,MORTGAGE,500000.0,Verified,Nov-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,credit_card,Credit card refinancing,554xx,MN,12.26,1.0,Jul-1993,685.0,689.0,1.0,9.0,NaN,12.0,0.0,220861.0,93.0,44.0,w,0.00,0.00,40220.880095,40220.88,35000.00,5220.88,0.0,0.00,0.0000,Nov-2018,1115.44,NaN,Mar-2019,699.0,695.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,931444.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,238700.0,NaN,NaN,NaN,4.0,77620.0,16950.0,100.0,0.0,0.0,265.0,267.0,3.0,3.0,11.0,73.0,9.0,5.0,9.0,0.0,6.0,8.0,12.0,14.0,11.0,8.0,24.0,7.0,12.0,NaN,0.0,0.0,2.0,95.0,83.3,0.0,0.0,1008711.0,185983.0,101700.0,115011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,36
76625,64017596,NaN,24000.0,24000.0,24000.0,36 months,12.59,803.93,C,C2,Partner,10+ years,OWN,195000.0,Verified,Nov-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,credit_card,Credit card refinancing,266xx,WV,19.58,0.0,Apr-1974,670.0,674.0,1.0,NaN,102.0,30.0,1.0,89537.0,56.5,48.0,w,0.00,0.00,29004.018576,29004.02,24000.00,5004.02,0.0,0.00,0.0000,Oct-2018,1615.51,NaN,Mar-2019,684.0,680.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,431522.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158400.0,NaN,NaN,NaN,16.0,14384.0,58693.0,58.0,0.0,0.0,147.0,498.0,3.0,3.0,3.0,3.0,NaN,2.0,NaN,0.0,12.0,14.0,17.0,20.0,15.0,22.0,29.0,14.0,30.0,0.0,0.0,0.0,14.0,100.0,52.9,0.0,1.0,595734.0,157574.0,139900.0,86234.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,36
76626,64067510,NaN,10000.0,10000.0,10000.0,36 months,9.17,318.79,B,B2,Lieutenant,6 years,RENT,69000.0,Verified,Nov-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,890xx,NV,11.77,1.0,Feb-1999,705.0,709.0,1.0,5.0,NaN,14.0,0.0,12846.0,51.6,41.0,w,0.00,0.00,10624.660000,10624.66,10000.00,624.66,0.0,0.00,0.0000,Aug-2016,8079.43,NaN,Aug-2016,709.0,705.0,0.0,36.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,72076.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24900.0,NaN,NaN,NaN,4.0,5148.0,2930.0,68.8,0.0,0.0,146.0,200.0,9.0,9.0,2.0,9.0,36.0,3.0,36.0,1.0,5.0,9.0,5.0,12.0,22.0,10.0,17.0,9.0,14.0,0.0,0.0,0.0,2.0,92.7,20.0,0.0,0.0,97288.0,19659.0,9400.0,9900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,36
76627,63556582,NaN,9675.0,9675.0,9675.0,36 months,14.33,332.23,C,C5,Alignment Tech.,5 years,MORTGAGE,55000.0,Source Verified,Nov-2015,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,credit_card,Credit card refinancing,840xx,UT,20.38,1.0,Nov-1984,660.0,664.0,0.0,7.0,NaN,6.0,0.0,5535.0,40.1,21.0,w,0.00,0.00,5036.450000,5036.45,2849.49,1494.05,0.0,692.91,124.7238,Feb-2017,332.23,NaN,Jun-2017,559.0,555.0,1.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,1051.0,243995.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13800.0,NaN,NaN,NaN,5.0,40666.0,NaN,NaN,0.0,0.0,136.0,371.0,18.0,5.0,5.0,NaN,NaN,8.0,NaN,0.0,0.0,2.0,0.0,2.0,6.0,3.0,10.0,2.0,6.0,0.0,0.0,0.0,2.0,95.2,NaN,0.0,0.0,267030.0,58964.0,0.0,54240.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,36
76628,64077598,NaN,18500.0,18500.0,18500.0,36 months,10.99,605.58,B,B4,production Superintendent,2 years,MORTGAGE,75000.0,Source Verified,Nov-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,home_improvement,Home improvement,675xx,KS,10.81,0.0,Aug-2003,700.0,704.0,0.0,NaN,NaN,8.0,0.0,2547.0,68.8,11.0,w,0.00,0.00,21778.233212,21778.23,18500.00,3278.23,0.0,0.00,0.0000,Nov-2018,605.52,NaN,Nov-2018,804.0,800.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,14899.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3700.0,NaN,NaN,NaN,1.0,1862.0,453.0,84.9,0.0,0.0,78.0,146.0,44.0,11.0,0.0,89.0,NaN,11.0,NaN,0.0,4.0,4.0,4.0,4.0,5.0,5.0,5.0,4.0,8.0,0.0,0.0,0.0,1.0,100.0,75.0,0.0,0.0,26876.0,14899.0,3000.0,20114.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,36
76629,63907622,NaN,17000.0,17000.0,17000.0,60 months,13.18,388.38,C,C3,NaN,NaN,MORTGAGE,75000.0,Source Verified,Nov-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,347xx,FL,16.70,0.0,Sep-2005,690.0,694.0,2.0,69.0,NaN,16.0,0.0,17309.0,43.2,21.0,w,0.00,0.00,19208.540000,19208.54,17000.00,2208.54,0.0,0.00,0.0000,Nov-2016,14948.81,NaN,Nov-2016,789.0,785.0,0.0,69.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,44431.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40100.0,NaN,NaN,NaN,6.0,2777.0,17021.0,39.4,0.0,0.0,121.0,99.0,1.0,1.0,0.0,1.0,NaN,2.0,NaN,1.0,7.0,11.0,9.0,10.0,5.0,15.0,16.0,11.0,16.0,0.0,0.0,0.0,5.0,95.2,0.0,0.0,0.0,79164.0,44431.0,28100.0,39064.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,60
76630,63947610,NaN,10200.0,10200.0,10200.0,60 months,12.59,229.95,C,C2,Admin Clerk,4 years,RENT,45000.0,Not Verified,Nov-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,640xx,MO,24.00,0.0,Oct-1999,715.0,719.0,1.0,NaN,NaN,22.0,0.0,20836.0,43.0,33.0,w,0.00,0.00,12396.112986,12396.11,10200.00,2196.11,0.0,0.00,0.0000,Oct-2017,7312.24,NaN,Nov-2017,779.0,775.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,23305.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48500.0,NaN,NaN,NaN,2.0,1457.0,6461.0,54.8,0.0,0.0,150.0,192.0,3.0,3.0,0.0,53.0,NaN,3.0,NaN,0.0,4.0,12.0,6.0,9.0,5.0,21.0,28.0,12.0,22.0,0.0,0.0,0.0,1.0,100.0,33.3,0.0,0.0,58658.0,23305.0,14300.0,10158.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,60
76631,63590268,NaN,10500.0,10500.0,10500.0,60 months,15.41,252.06,D,D1,Sales and Leasing Consultant,2 years,RENT,40000.0,Verified,Nov-2015,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,629xx,IL,16.53,0.0,Sep-2010,675.0,679.0,0.0,NaN,NaN,5.0,0.0,3751.0,54.4,11.0,w,0.00,0.00,5388.850000,5388.85,2206.55,2069.99,15.0,1097.31,197.5158,Aug-2017,20.00,NaN,Oct-2017,519.0,515.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,22121.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6900.0,NaN,NaN,NaN,7.0,4424.0,125.0,75.0,0.0,0.0,61.0,46.0,12.0,4.0,0.0,12.0,NaN,4.0,NaN,0.0,1.0,3.0,1.0,1.0,7.0,3.0,4.0,3.0,5.0,0.0,0.0,0.0,3.0,100.0,0.0,0.0,0.0,29621.0,22121.0,500.0,22721.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN,60
76632,61444195,NaN,20000.0,20000.0,20000.0,60 months,12.05,445.40,C,C1,Coal sampling,7 years,MORTGAGE,80000.0,Not Verified,Nov-2015,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,150xx,PA,20.28,1.0,Sep-1997,710.0,714.0,0.0,11.0,NaN,16.0,0.0,18094.0,30.0,32.0,w,0.00,0.00,12571.330000,12571.33,6600.07,4162.10,0.0,1809.16,18.0916,Nov-2017,445.40,NaN,May-2018,549.0,545.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,114570.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60300.0,NaN,NaN,NaN,7.0,7161.0,34835.0,29.9,0.0,0.0,217.0,91.0,0.0,0.0,1.0,0.0,NaN,19.0,NaN,0.0,5.0,8.0,8.0,11.0,13.0,12.0,18.0,8.0,16.0,0.0,0.0,0.0,2.0,100.0,12.5,0.0,0.0,169965.0,68659.0,49700.0,57181.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60

In [63]:
df_reject

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,1000.0,2007-05-26,Wedding Covered but No Honeymoon,693.0,10%,481xx,NM,4 years,0.0
1,1000.0,2007-05-26,Consolidating Debt,703.0,10%,010xx,MA,< 1 year,0.0
2,11000.0,2007-05-27,Want to consolidate my debt,715.0,10%,212xx,MD,1 year,0.0
3,6000.0,2007-05-27,waksman,698.0,38.64%,017xx,MA,< 1 year,0.0
4,1500.0,2007-05-27,mdrigo,509.0,9.43%,209xx,MD,< 1 year,0.0
5,15000.0,2007-05-27,Trinfiniti,645.0,0%,105xx,NY,3 years,0.0
6,10000.0,2007-05-27,NOTIFYi Inc,693.0,10%,210xx,MD,< 1 year,0.0
7,3900.0,2007-05-27,For Justin.,700.0,10%,469xx,IN,2 years,0.0
8,3000.0,2007-05-28,title?,694.0,10%,808xx,CO,4 years,0.0
...,...,...,...,...,...,...,...,...,...
877558,15000.0,2016-04-11,debt_consolidation,NaN,9999%,060xx,CT,< 1 year,0.0
877559,3000.0,2016-04-11,debt_consolidation,NaN,14.38%,114xx,NY,< 1 year,0.0
877560,40000.0,2016-04-11,debt_consolidation,NaN,47.7%,925xx,CA,< 1 year,0.0
877561,1000.0,2016-04-11,medical,NaN,10.52%,957xx,CA,< 1 year,0.0
877562,5000.0,2016-04-11,debt_consolidation,NaN,10.87%,496xx,MI,< 1 year,0.0
877563,4000.0,2016-04-11,debt_consolidation,NaN,18.54%,112xx,NY,< 1 year,0.0
877564,12000.0,2016-04-11,debt_consolidation,600.0,13.11%,430xx,OH,< 1 year,0.0
877565,35000.0,2016-04-11,debt_consolidation,NaN,9999%,451xx,OH,< 1 year,0.0
877566,10000.0,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
set(df_accept['term'])

{' 36 months', ' 60 months'}

In [52]:
x=' 36 months'
x[1:3]

'36'

In [56]:
term_int=[int(t[1:3]) for t in df_accept['term']]
df_accept['term_int']=term_int
df_accept['term_int']

0        36
1        36
2        60
3        60
4        60
5        36
6        36
7        36
8        36
9        36
10       60
11       60
         ..
76621    36
76622    60
76623    60
76624    36
76625    36
76626    36
76627    36
76628    36
76629    60
76630    60
76631    60
76632    60
Name: term_int, Length: 76633, dtype: int64

In [67]:
df_accept['dti_joint'].isna().sum()/df_accept.shape[0]

np.float64(0.9949369070765858)

In [ ]:
list(df_accept.columns) #use display to show full dataframe

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'disbursement_method',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

In [21]:
type(df_accept['id'])

pandas.core.series.Series

In [22]:
df_accept['id'].dtype

dtype('int64')

In [23]:
df_accept['member_id'].dtype

dtype('float64')

In [38]:
pd.set_option('display.max_rows', None)

df_accept_column_types=df_accept.dtypes
df_accept_column_types

id                                              int64
member_id                                     float64
loan_amnt                                     float64
funded_amnt                                   float64
funded_amnt_inv                               float64
term                                           object
int_rate                                      float64
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                    object
pymnt_plan                                     object
url                                            object
desc                                           object
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                   float64
earliest_cr_line                               object
fico_range_low                                float64
fico_range_high                               float64
inq_last_6mths                                float64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
open_acc                                      float64
pub_rec                                       float64
revol_bal                                     float64
revol_util                                    float64
total_acc                                     float64
initial_list_status                            object
out_prncp                                     float64
out_prncp_inv                                 float64
total_pymnt                                   float64
total_pymnt_inv                               float64
total_rec_prncp                               float64
total_rec_int                                 float64
total_rec_late_fee                            float64
recoveries                                    float64
collection_recovery_fee                       float64
last_pymnt_d                                   object
last_pymnt_amnt                               float64
next_pymnt_d                                   object
last_credit_pull_d                             object
last_fico_range_high                          float64
last_fico_range_low                           float64
collections_12_mths_ex_med                    float64
mths_since_last_major_derog                   float64
policy_code                                   float64
application_type                               object
annual_inc_joint                              float64
dti_joint                                     float64
verification_status_joint                      object
acc_now_delinq                                float64
tot_coll_amt                                  float64
tot_cur_bal                                   float64
open_acc_6m                                   float64
open_act_il                                   float64
open_il_12m                                   float64
open_il_24m                                   float64
mths_since_rcnt_il                            float64
total_bal_il                                  float64
il_util                                       float64
open_rv_12m                                   float64
open_rv_24m                                   float64
max_bal_bc                                    float64
all_util                                      float64
total_rev_hi_lim                              float64
inq_fi                                        float64
total_cu_tl                                   float64
inq_last_12m                                  float64
acc_open_past_24mths                          float64
avg_cur_bal                                   float64
bc_open_to_buy                                float64
bc_util                                       float64
chargeoff_within_12_mths                      float64
delinq_amnt                                   float64
mo_sin_old_il_acct                            float64
mo_sin_old_rev_tl_op                          float64
mo_sin_rcnt_rev_tl_op                         float64
mo_sin_rcnt_tl                                float64
mort_acc                                      float64
mths_since_recent_bc                          float64
mths_since_recent_bc_dlq                      float64
mths_since_recent_inq                         float64
mths_since_recent_revol_delinq                float64
num_accts_ever_120_pd                         float64
num_actv_bc_tl                                float64
num_actv_rev_tl                               float64
num_bc_sats                                   float64
num_bc_tl                                     float64
num_il_tl                                     float64
num_op_rev_tl                                 float64
num_rev_accts                                 float64
num_rev_tl_bal_gt_0                           float64
num_sats                                      float64
num_tl_120dpd_2m                              float64
num_tl_30dpd                                  float64
num_tl_90g_dpd_24m                            float64
num_tl_op_past_12m                            float64
pct_tl_nvr_dlq                                float64
percent_bc_gt_75                              float64
pub_rec_bankruptcies                          float64
tax_liens                                     float64
tot_hi_cred_lim                               float64
total_bal_ex_mort                             float64
total_bc_limit                                float64
total_il_high_credit_limit                    float64
revol_bal_joint                               float64
sec_app_fico_range_low                        float64
sec_app_fico_range_high                       float64
sec_app_earliest_cr_line                      float64
sec_app_inq_last_6mths                        float64
sec_app_mort_acc                              float64
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
disbursement_method                            object
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
dtype: object

In [103]:
#print([not x for x in df_reject['Debt-To-Income Ratio'].isna()])

In [104]:
#data exploration

#df_accept['dti_joint'].isna().sum()/df_accept.shape[0]
print(sorted(set(df_accept.loc[[not x for x in df_accept['dti_joint'].isna()],'dti_joint'])))

dti=set(df_reject.loc[[not x for x in df_reject['Debt-To-Income Ratio'].isna()],'Debt-To-Income Ratio'])
#print(sorted([float(x.strip('%'))/100 for x in dti]))

[3.0, 3.01, 3.05, 3.09, 5.0, 5.31, 5.97, 6.17, 6.2, 6.33, 6.44, 6.47, 6.49, 6.52, 6.81, 7.01, 7.46, 7.74, 7.87, 8.06, 8.26, 8.36, 8.56, 8.74, 8.92, 9.22, 9.23, 9.26, 9.27, 9.29, 9.47, 9.58, 9.67, 9.7, 9.73, 9.82, 9.84, 9.93, 10.02, 10.05, 10.15, 10.3, 10.32, 10.5, 10.52, 10.55, 10.81, 10.92, 11.04, 11.06, 11.08, 11.12, 11.17, 11.19, 11.25, 11.29, 11.38, 11.47, 11.53, 11.57, 11.61, 11.74, 11.83, 11.85, 11.92, 12.0, 12.02, 12.18, 12.19, 12.21, 12.33, 12.36, 12.41, 12.45, 12.51, 12.62, 12.78, 12.92, 12.95, 12.99, 13.0, 13.02, 13.09, 13.14, 13.15, 13.18, 13.19, 13.2, 13.28, 13.44, 13.47, 13.48, 13.53, 13.54, 13.67, 13.68, 13.69, 13.7, 13.79, 13.81, 13.83, 13.85, 13.88, 13.89, 13.9, 13.95, 13.96, 14.09, 14.26, 14.3, 14.39, 14.5, 14.51, 14.52, 14.59, 14.6, 14.63, 14.65, 14.82, 14.83, 14.92, 14.96, 14.97, 15.11, 15.16, 15.23, 15.25, 15.26, 15.32, 15.36, 15.39, 15.4, 15.5, 15.51, 15.63, 15.7, 15.75, 15.76, 15.85, 15.87, 15.89, 15.91, 15.94, 16.06, 16.08, 16.16, 16.17, 16.19, 16.39, 16.4, 16.55, 16.61, 16.65, 16.66, 16.72, 16.8, 16.86, 16.95, 17.07, 17.08, 17.13, 17.14, 17.18, 17.19, 17.22, 17.23, 17.35, 17.4, 17.41, 17.47, 17.48, 17.51, 17.59, 17.6, 17.61, 17.75, 17.8, 17.82, 17.89, 17.91, 17.98, 17.99, 18.07, 18.16, 18.22, 18.26, 18.31, 18.39, 18.45, 18.46, 18.49, 18.62, 18.66, 18.71, 18.72, 18.74, 18.94, 18.96, 19.06, 19.09, 19.15, 19.17, 19.22, 19.26, 19.45, 19.5, 19.51, 19.52, 19.65, 19.72, 19.77, 19.78, 19.86, 20.12, 20.16, 20.2, 20.22, 20.31, 20.45, 20.46, 20.57, 20.61, 20.62, 20.65, 20.71, 20.76, 20.82, 20.91, 21.01, 21.03, 21.04, 21.14, 21.22, 21.25, 21.28, 21.36, 21.37, 21.41, 21.43, 21.45, 21.46, 21.48, 21.69, 21.7, 21.72, 21.76, 21.82, 21.86, 21.88, 21.93, 21.98, 22.18, 22.33, 22.48, 22.5, 22.55, 22.56, 22.57, 22.63, 22.64, 22.65, 22.76, 22.9, 22.98, 23.07, 23.08, 23.14, 23.24, 23.26, 23.33, 23.37, 23.4, 23.43, 23.47, 23.5, 23.6, 23.74, 23.77, 23.89, 23.95, 23.99, 24.02, 24.09, 24.41, 24.58, 24.79, 24.88, 24.98, 25.05, 25.08, 25.28, 25.3, 25.35, 25.37, 25.44, 25.77, 25.91, 26.0, 26.04, 26.07, 26.16, 26.39, 26.47, 26.64, 26.76, 26.84, 27.07, 27.11, 27.12, 27.21, 27.27, 28.45, 28.46, 28.6, 28.67, 28.72, 28.87, 28.89, 28.9, 28.92, 28.97, 29.07, 29.23, 29.29, 29.49, 30.04, 30.1, 30.13, 30.21, 30.34, 30.42, 30.62, 30.78, 31.01, 31.04, 31.15, 31.23, 31.4, 31.92, 32.21, 32.5, 32.61, 32.8, 32.99, 33.01, 33.1, 33.14, 33.3, 33.45, 33.52, 34.13, 34.59, 35.49, 37.81, 38.19, 39.3, 39.5, 43.86]

amount_request <--> Amount Requested

? <--> Application Date

title <--> Loan Title

<--> Risk_Score

dti_joint (referring to couple, most values missing, how to interpret ?)<--> Debt-To-Income Ratio

zip_code <--> Zip Code

addr_state <--> State

emp_length <--> Employment Length

policy_code <--> Policy Code

In [58]:
pd.set_option('display.max_rows', None)

df_reject_column_types=df_reject.dtypes
df_reject_column_types

Amount Requested        float64
Application Date         object
Loan Title               object
Risk_Score              float64
Debt-To-Income Ratio     object
Zip Code                 object
State                    object
Employment Length        object
Policy Code             float64
dtype: object

In [39]:
pd.set_option('display.max_rows', False)

In [33]:
df_accept_column_types.loc['id']

dtype('int64')

In [ ]:
df.apply()

In [15]:
type(df_accept[list(df_accept.columns)[2]])

pandas.core.series.Series

In [ ]:
#analysis on data columns (how features are correlated)
#identify data type of each column
#3 classes